ul.produto-carrinho {
  width: 100%;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 28px;
  text-align: center;
  margin-bottom: 10%;
}

ul.produto-carrinho p {
  width: 30%;
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
  margin-bottom: 20px;
  padding-left: 10px;
  float: left;
}

ul.produto-carrinho li strong {
  font-size: 24px;
  color: #444;
}

ul.produto-carrinho li span {
  font-size: 15px;
  color: #3a3a3a;
  padding-left: 10px;
}

.test {
  align-content: center;
  text-align: center;
}

.button {
  position: relative;
  display: block;
  background: transparent;
  width: 200px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  margin: 40px auto;
  z-index: 2 !important;
}

.button:before,
.button:after {
  width: 200px;
  left: 0px;
  height: 27px;
  z-index: -1;
}

.indigo:before,
.indigo:after {
  border: 3px solid indigo;
}

.indigo {
  color: indigo;
}

.button:before {
  position: absolute;
  content: "";
  border-bottom: none;
  -webkit-transform: perspective(15px) rotateX(5deg);
  -moz-transform: perspective(15px) rotateX(5deg);
  transform: perspective(15px) rotateX(5deg);
}
.button:after {
  position: absolute;
  top: 32px;
  content: "";
  border-top: none;
  -webkit-transform: perspective(15px) rotateX(-5deg);
  -moz-transform: perspective(15px) rotateX(-5deg);
  transform: perspective(15px) rotateX(-5deg);
}

.indigo:hover:before,
.indigo:hover:after {
  background: indigo;
  transform: scale(1.05);
  transition: ease-in-out;
  transition: all 1s linear;
}

.button:hover {
  color: #fff;
}
